.myMessage{
  background-color: #5b5c60;
  background: #ececec;
  width: 1190px;          /* 固定宽度 */
  margin: auto;
  color: #5b5c60;
  padding: 0px;

  .img{
    width: 1190px;
    height: 428px;
  }
   
  .title{
    font-size: 18px;
    .circle-text{
      height: 30px;
      display: flex;
      align-items: center;
      margin-top: 30px;
    }

    .title-message{
      width: 80px;
      margin-left: 10px;
    }

    .black-circle{
      width: 15px;
      height: 15px; 
      background-color: black; 
      border-radius: 50%;
      margin-left: 20px;
    }
    .dotted-line{
      border: 1px dashed #000;
    }
  }

  .content{
    font-size: 14px;
    padding: 15px 20px;

    .item{
      display: flex;
      align-items: center;
      margin-bottom:20px;
      
    }
    .content-title {
      width: 80px;
    }
    .red-text{
      font-size: 12px;
      color: red;
    }

    .inputnamepwd{
      height: 30px;
      width: 260px;
      margin-right: 10px;
    }

    .radio{
      height: 16px;
      width: 16px;
    
    }

    .age{
      height: 30px;
      width: 260px;
      margin-right: 10px;
    }

  .checkbox{
      margin-right: 20px;
    }

  .text{
      height: 110px;
      width: 380px;
    }

    .content-message {
      display : flex;
      align-items : flex-start;

      .text-red-center{
        height: 110px;
        display: flex;
        align-items: center;
      }
    }

    .submit{
      background-color:#000000;
      color: #e1cd50;
      width:115px;
      height:30px;
      margin-left:80px;
      margin-top:20px;
    }
  }
}

.total{
  background-color: #5b5c60;
  background: #ececec;
  width: 1190px;  
  margin: auto;
  color: #5b5c60;
  padding: 30px;

  .img{
    width: 1190px;
    height: 380px;
  }
   

  .topnav{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    background-color: #f08121 ;
    border: none;
    box-sizing: border-box;
    margin-top: -4px;
  }

  .topnav button{
    width: 170px;
    background-color: transparent; 
    border:  transparent;  
    font-size: 20px;    
    color: #fefce3;      
  }

  .topnav .change-color{
    color: #fefce3;
    background-color: #f9b07b;
  }
}

.MyTown{
  background-color: #5b5c60;
  background: #ececec;
  width: 1190px;          /* 固定宽度 */
  margin: auto;
  color: #5b5c60;

  .img{
    width: 1190px;
    height: 428px;
  }

  .title{
    font-size: 18px;
    .circle-text{
      height: 30px;
      display: flex;
      align-items: center;
      margin-top: 30px;
    }

    .title-message{
      width: 80px;
      margin-left: 10px;
    }

    .black-circle{
      width: 15px;
      height: 15px; 
      background-color: black; 
      border-radius: 50%;
      margin-left: 20px;
    }
    .dotted-line{
      border: 1px dashed #000;
    }

    .title-search{
      width: 300px;
      margin-left: 700px; 
      display:flex;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: 10px 8px 10px rgb(112, 111, 111);
     
    }

    .search-box{
      width: 250px; 
      height: 40px;
      font-size: 16px; 
      border-radius: 12px 0 0 12px; 
      border: 3px solid #f0882d;
    }

    .search-submit{
      width: 50px;
      font-size: 15px; 
      background-color: #f0882d ; 
      color: white; 
      border: none; 
      border-radius: 0 10px 10px 0;  
      cursor: pointer;
    }
  }

  .text{
    font-size: 14px; 
    color: #5b5c60;
    line-height: 30px;
    margin-left: 20px;
  }

  .pictures{
    justify-content: space-between;
    display: flex;

    .responsive{
      margin: 10px;
      width: 280px;
    }

    .picture{
      height: 160px;
      width: 260px;
    }
    .text-bold{
      font-weight: bold;
      margin-top: 8px;
    }

    .text-normal{
      margin-top: 15px;
    }
  }

  .buttons{
    justify-content: center;
    display: flex;
    margin-top: 10px;

    button{
      display: flex;
      border: none;
      height: 30px;
      margin: 8px;
      padding: 10px;
      align-items: center;
      cursor: pointer;
    }
    .button-gray{
      background-color: #dddddd
      ;
    }

    .button-other{
      background-color: #fefefe; 
    }

    .button-blue{
      background-color: #0099ff;
    }
  }
}